.get-started-bg{
    background-image: url("../assets/img/banner/product.png");
    background-size: cover;
    background-position: center center;
}
.get-start {
  color: #fff;
  height: 400px;
  display: flex;
}

.get-start div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.get-start h3  {
  align-self: center;
  font-size: 3.1rem;
  font-weight: normal;
}
.get-start div img  {
  margin-top: 0px !important;
  height: 70px;

}
.get-start div a  {
  padding: 10px;
  height: 70px;
}