.time-features-section {
  display: grid;
  grid-template-columns: repeat(1, auto);
  margin-top: 4rem;
  color: #2c2c2c;
}
.time-features-section h2 {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 3rem;
  margin-top: 100px;
}
.section_icon {
  display: grid;
  grid-template-columns: repeat(3, auto);
  font-size: 1.4rem;
  font-weight: 300;
  color: #2c2c2c;
}

.section_icon div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon1 {
  background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
  width: 110px;
  height: 110px;
  border-radius: 20px;
}
.icon2 {
  background: linear-gradient(to right, #fdae5c 0%, #fd8e5e 100%);
  width: 110px;
  height: 110px;
  border-radius: 20px;
}
.icon3 {
  background: linear-gradient(to right, #37ef8d 0%, #37ef8d 100%);
  width: 110px;
  height: 110px;
  border-radius: 20px;
}

@media screen and (max-width: 1140px) {
  .section_icon {
    gap: 2rem;
  }
  .section_icon p {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .section_icon img {
    margin-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  .container .time-features-section {
    max-width: 720px;
  }
  .section_icon {
    grid-template-columns: repeat(1, auto);
    gap: 4rem;
  }
  .icon1,
  .icon2,
  .icon3 {
    /*  i added postion static here to override the img css rules on header css file */
    position: static;
    margin-right: 0px;
  }

  .time-features-section h2 {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 768px) {
  .time-features-section h2 {
    font-size: 1.9rem;
  }
}


@media screen and (max-width: 564px) {
  .time-features-section h2 {
    font-size: 1.4rem;
    text-align: center;
  }
}
