
.nav_btn {
  background-color: #42b3fa;
  padding: 12px 20px;
  font-size: 14px;
  transition: background-color 0.6s;
}
.nav_btn:hover {
  transition: background-color 0.6s;
  background-color: #4ba8fd;
  border: 1px solid #4ba8fd;
}
.hedaer_section_btn {
  background: #37ebed;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.6s;
}
.hedaer_section_btn:hover {
  transition: background-color 0.6s;
  background: #4ba8fd;
  color: #fff !important;
}

